@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#313131;
  color: white;
  font-family: poppins;
}







/* first */


.first{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  color:black;
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

.first h1{
  margin-left: 5vw;
  align-items: center;
}
.first h1:hover{
  cursor: pointer;
  color: gray;
}

.first ul{
  list-style-type: none;
  display: flex;
  gap: 4vw;
  margin-right:1vw;
  align-items: center;
  font-weight: bold;
}
.fheading{
  font-size:larger;
  font-weight: bold;
}

.first li:hover{
  color: cyan;
  cursor: pointer
}
